body {
  width: 100%;
  height: 100vh;
  background: url(../images/bg-pc.webp) center center/cover no-repeat;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* hidden기능은 화면밖의 이미지들을 싹 없애는 기능이라 스크롤이 사라짐 */
}
/* background:url() 포지션 / 사이즈(100px)이런걸로도 가능 반복유무 or 반복종류 */
/* cover를 사용하면 가로 세로 비율은 유지하면서 꽉차도록 실행/no-repeat은 이미지를 반복하지 않겠다는 기능 */
img {
  width: 100%;
}

.title {
  text-align: center;
}

.title img {
  width: 150px;
}

.subTitle {
  position: fixed;
  top: 10%;
  left: 20px;
}

.subTitle img {
  width: 70px;
}

.contWrap {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.contWrap div {
  position: absolute;
}

.shadow {
  width: 700px;
  left: 50%;
  transform: translateX(-50%);
}

.date {
  width: 400px;
  left: 50%;
  top: 70%;
  transform: translateX(-20%);
}

.human {
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.textImg {
  width: 400px;
  left: 50%;
  top: 30%;
  transform: translateX(-10%);
}
